/*Reset total*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,  sans-serif;
    line-height: 1.5;
}

/* grid pagina*/

.container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
    min-height: 100vh;
}
/* Definições de areas */


header{
    grid-area: header;
    background: lightblue;
    padding: 20px;
    text-align: center;
}
nav{
    grid-area: sidebar;
    
}
main{
    grid-area: main;
    text-align: left;
    padding: 20px;
}


footer{
    grid-area: footer;
    background: lightyellow;
    text-align: center;
}

