

.nav{
    background: lightcoral;
}
.nav__list{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.nav__item{
    width: 100% ;
}
.nav__link{
    color: white;
    padding: 1.5rem 1.5rem 1rem 1rem;
    text-decoration: none;
    font-weight: bold;
}
.nav__item--active{
    background-color: white;
}
.nav__link--active{
    color: lightcoral;
}