@use 'variaveis';


.conteudo{
   padding: variaveis.$espacamento-padrao;
   &__paragrafo{
    font-size: 16px;
    margin-bottom: variaveis.$espacamento-metade;
   }
   &__link{
    text-decoration: none;
    color: variaveis.$cor-primaria;
    &:hover{
        text-decoration: underline;
    }

   }

}