* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 0 auto;
}
h1 {
    
    font-size: 30px;
    color: #fff;
    text-shadow: 10px 20px 10px black;
}

h2 {
    color: #fff;
    
    text-align: center;
    margin-block: 20px;
    font-size: 15px;
    background-color: rgb(223, 77, 77);
    padding: 5px;
    border-radius: 5px;
}
input{
    width: 250px;
    padding: 2px;
    margin-block: 10px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
}
button {
    width: 60px;
    font-size: 10px;
    background: green;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}   