*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    gap: 20px;
}
.caixa{
    border: solid 1px black;
    height: 100px;
    width: 100px;
}
.caixa:nth-child(1){
    background-color: aqua;
}
.caixa:nth-child(2){
    background-color: blue;
}
.caixa:nth-child(3){
    background-color: brown;
}
