* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto' 'san serif';
    line-height: 1.6;
    background-color: #ffffff;
}
header{
    padding: 20px;
    background: linear-gradient(55deg, rgb(236, 35, 35), rgb(206, 207, 212));
    color: #ffffff;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-top: 10px;
}

header p {
    font-size: 14px;
    margin-top: 5px;
}
header nav ul li {
    display: inline;
    margin-right: 20px;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

section{
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
section h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

article{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
article a {
    text-decoration: none;
    font-weight: bold;
    color: #10001f;
}
article a:hover{
    color: #007aff;
}
footer{
    color: #838285;
    text-align: center;   
}
footer a {
    text-decoration: none;
    color: #22353d;
}

footer a:hover{
    text-decoration: underline;
}
