* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    max-width: 350px;
    background: #fff;
    padding: 20px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
ul > li {
    list-style: none;
    text-align: center;
    text-decoration: none;
}

ul > li a {
    text-decoration: none;
}